* body
{
    margin: 0px;
    padding: 0px;
}

#topo
{
    width: 980px;
    height: 100px;
    background-color: aqua;
    margin: auto;
}

#conteiner1
{
    width: 980px;
    height: 70px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
}
    #logo
    {
        width: 200px;
        height: 70px;
        float: left;
    }
    #logo img
    {
        width: 100%;
        height: 70px;
    }
    #menu
    {
        width: 780px;
        height: 70px;
        background-color: coral;
        float: right;
    }
      
#banner 
{
    width: 980px;
    height: 400px;
    background-color: blueviolet;
    margin: auto;
    margin-top: 50px;
}
    #banner img
    {
        width: 100%;
        height: 400px;
    }

#anuncio
{
    width: 980px;
    height: 150px;
    background-color: darkblue;
    margin: auto;
    margin-top: 50px;
}
    #anuncio img
    {
        width: 100%;
        height: 150px;
    }
#conteiner2
{
    width: 980px;
    height: 500px;
    background-color: darkolivegreen;
    margin: auto;
    margin-top: 50px;
}
    #esquerda
    {
        width: 400px;
        height: 500px;
        background-color: darkred;
        float: left;
        margin-left: 50px;
    }
        #esquerda img
        {
            width: 100%;
            height: 500px;
        }
    #direita
    {
        width: 400px;
        height: 500px;
        background-color: greenyellow;
        float: right;
        margin-right: 50px;
    }
        #direita img
        {
            width: 100%;
            height: 500px;
        }

#rodape
{
    width: 980px;
    height: 180px;
    background-color: hotpink;
    margin: auto;
    margin-top: 50px;
}
    #links
    {
        width: 300px;
        height: 100px;
        background-color: aqua;
        float: left;
        margin-top: 40px;
    }
        #links img 
        {
            width: 100%;
            height: 100px;
        }
    #informacoes
    {
        width: 680px;
        height: 100px;
        background-color: blue;
        float: right;
        margin-top: 40px;
    }