* body
{
    margin: 0px;
    padding: 0px;
}

#banner
{
    width: 100%;
    height: auto;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-link
{
    color: darkslategrey;
    font-size: 30px;    
}
a.nav-link
{
    color: chartreuse;
}
a.nav-link:hover
{
    color: hotpink;
}